@using HaSe.Pages.Controls
@using HaSe.Facade.Project
@model HaSe.Facade.Project.PartSpecificationViewModel

@Html.EditItem(model => model.Description)

<div class="form-group">
    <label asp-for="Type" class="control-label"></label>
    <select asp-for="Type" class="form-control">
        <option value="">-- Select Type --</option>
        <option value="Constraint">Constraint</option>
        <option value="Operating condition">Operating condition</option>
        <option value="Tolerance">Tolerance</option>
        <option value="Performance specification">Performance specification</option>
        <option value="Testing requirement">Testing requirement</option>
        <option value="Other specification">Other specification</option>
    </select>
    <span asp-validation-for="Type" class="text-danger" />
</div>

@{
    var p = new ShowTableProperties<PartSpecificationStatusViewModel>(ViewBag);
    p.MasterController = "partspecification";
    p.MasterId = Model?.Id;
    p.IsEditable = false;
    p.Items = Model?.SpecificationStatus ?? [];
    p.Controller = "part";
    p.Label = Html.LabelFor(model => model.SpecificationStatus);
}

@Html.EditItem(model => model.DateDocumented)
@Html.EditItem(model => model.Comment)
@Html.SelectItem(model => model.PartId, "Parts")

@if (ViewBag.IsEditView != null && ViewBag.IsEditView == true)
    @Html.ShowTable(p)


